# __ NB! __ /.idea означает «только в корне», а .idea/ — в любом месте.
# Лучше использовать второй вариант, потому что .idea/ действительно не всегда в корне (см. у себя).


# Игнорировать директории и файлы виртуальных окружений:
.venv/
venv/

# Игнорировать файлы и директории, сгенерированные IDE/редакторами (PyCharm):
.idea/

# Игнорировать файлы и директории, сгенерированные операционной системой (Кэш Python):
__pycache__/
*.py[cod]
*.pyo
*.log
*.pot

# Игнорировать файл .env с конфиденциальными данными:
.env
*.env


/other/
/other/superuser.md
